.title-buy {
  color: rgb(40, 40, 40);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-right: 10px;
    position: fixed; /* Fijado para mantenerse visible al hacer scroll */
    width: 110%;
    border-bottom: 0.1px solid rgb(40, 40, 40);
    z-index: 10; /* Asegura que quede sobre otros elementos */
    padding-bottom: 1px;
    height: 100px;
    top: -10px;
    left:2px;
  }
  
  .title-name {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    padding-left: 100px;
    margin-left: auto; 
    margin-right: auto;
  }
  .log-button{
    color: black;
    height: 20px;
    width: 60px;

  }
  
  .login-section{
    background-color: rgb(255, 255, 255);
    top: 250px;
    left: 500px;
    border: 1px solid;
    position: absolute;
    height: 500px;
    width: 1000px;
    animation: 0.2s login-spawn;
  }

  @keyframes login-spawn {
    0%{
      opacity: 0%;
    }
    100%{
      opacity: 100%;
    }
  }
  .button-create {
    border: none;
    background-color: rgb(255, 255, 255);
    margin-right: 420px;
    height: 30px;
    width: 37px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }